h1{
    color:khaki;
    font-family:'Times New Roman', Times, serif;
    margin: 0px;
    border: #080708;
    
}
body{
    background-color: #080708;
    background-image: linear-gradient(225deg, #080708 0%, #73696d 50%, #2B86C5 100%);  
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  p1{
      color:brown;
      font-size: xx-large;
      font-weight: 200;
  }
  p{
      color: honeydew;
  }
  