h1{
    color:khaki;
    text-align: center;
    
}
h2{
    color: khaki;
}
body{
    background-color: antiquewhite;
    background-image: url(/home/kris/Downloads/patrik-storm-alstra-pictures-5RSqU21ia7Q-unsplash.jpg);
    background-size: 100vh;
    margin: 0%;
    
}
p{
    color: honeydew;
    font-size:larger;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    height:100vh;
    display:grid;
    grid-template-columns:auto;
}
.div1{
    height: 100vh;
    display: block;
}
.div2{
    background-color: #080708;
background-image: linear-gradient(225deg, #080708 0%, #73696d 50%, #2B86C5 100%);

height: 100vh;
display: grid;
}

